<html>
  <head>
    <title>Title of the document</title>
    <style>
      .box {
        width: 30%;
        height: 200px;
        border: 50px;
      }
      img {
        width: 300%;
        height: 200%;
      }
    </style>
  </head>
  <body>
    <h2>Clinic Name</h2>
    <p>Any information.</p>
    <div class="box">
      <img src="https://afyamedicarepolyclinic.com/images/Afyasite.png" alt="Example image"/>
    </div>
  </body>
</html>
